<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/page-banner"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/aboutus"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/advance-team"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/features"} /-->	
	<!-- wp:pattern {"slug":"trend-business-pro/users"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/single-column"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/featured"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/team-member"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/blogs"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/attributes"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/contact"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/news-letter"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->