
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
	<!-- wp:pattern {"slug":"trend-business/banner"} /-->
	<!-- wp:pattern {"slug":"trend-business/features"} /-->
	<!-- wp:pattern {"slug":"trend-business/two-column"} /-->
	<!-- wp:pattern {"slug":"trend-business/pricing"} /-->
	<!-- wp:pattern {"slug":"trend-business/users"} /-->
	<!-- wp:pattern {"slug":"trend-business/single-column"} /-->
	<!-- wp:pattern {"slug":"trend-business/testimonials"} /-->
	<!-- wp:pattern {"slug":"trend-business/featured"} /-->
	<!-- wp:pattern {"slug":"trend-business/blogs"} /-->
	<!-- wp:pattern {"slug":"trend-business/attributes"} /-->
	<!-- wp:pattern {"slug":"trend-business/news-letter"} /-->

</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

