
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
	<!-- wp:pattern {"slug":"trend-business-pro/banner-pro"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/services"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/portfolio"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/aboutus"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/advance-team"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/gallery"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/two-column"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/features"} /-->	
	<!-- wp:pattern {"slug":"trend-business-pro/pricing"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/users"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/single-column"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/testimonials"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/featured"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/team-member"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/blogs"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/attributes"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/contact"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/news-letter"} /-->

</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

