<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
    <!-- wp:pattern {"slug":"trend-business-pro/page-banner"} /-->
    <!-- wp:pattern {"slug":"trend-business-pro/portfolio"} /-->
    <!-- wp:pattern {"slug":"trend-business-pro/gallery"} /-->
    <!-- wp:pattern {"slug":"trend-business-pro/advance-team"} /-->
    <!-- wp:pattern {"slug":"trend-business-pro/services"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/aboutus"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/single-column"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/testimonials"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/featured"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/attributes"} /-->
	<!-- wp:pattern {"slug":"trend-business-pro/contact"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->